$black: #1e1e1e;
$white: #fff;
$fuchsia: fuchsia;

$accent: $fuchsia;

$sans: "Helvetica Neue";
$serif: "Apple Garamond";
$serifLT: "Apple Garamond Light";

$font-xxs: 0.75rem;
$font-xs: 0.875rem;
$font-sm: 1rem;
$font-md: 1.25rem;
$font-lg: 1.5rem;
$font-xl: 2rem;
$font-xxl: 2.5rem;
$font-xxxl: 3rem;

$text-color: $black;
$text-color-light: $white;
$link: $accent;
